{% extends 'authentication/base.html' %}

{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Manage your account here</h1>
        <p class="lead text-muted">Welcome, {{ user.username }}!</p>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Write a blog post</a>
            <a href="#" class="list-group-item list-group-item-action">See your posts</a>
            <a href="#" class="list-group-item list-group-item-action">Your visitors' comments (Approve | Reject)</a>
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}