{% extends 'authentication/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h2>Login</h2>
            <!-- {% if error_message %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %} -->
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Login</button> |
                <a href="{% url 'registration' %}">Register</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
